<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SatApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <userSettings>
    <SatApp.Properties.Settings>
      <setting name="firstTimeLaunch" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="adminLogin" serializeAs="String">
        <value />
      </setting>
      <setting name="adminPassword" serializeAs="String">
        <value />
      </setting>
    </SatApp.Properties.Settings>
  </userSettings>
</configuration>